name: PQC TLS Handshake Benchmark

on:
  workflow_dispatch:

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Hello
        run: |
          echo "Actions is now detecting workflows."
          uname -a
